* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: secret-medium;
  src: url("/assets/superSecretFont_medium.woff") format("woff")
}

@font-face {
  font-family: secret-regular;
  src: url("/assets/superSecretFont_regular.woff") format("woff")
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to bottom,#04010b 0,#231872 100%);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-normal {
  font-weight: bold;
  transition-duration: 0.3s;
  background: transparent;
  color: #4ff7b2;
  border: 1px solid #4ff7b2;
  width: 160px;
  line-height: 48px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: secret-regular, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}

.button-normal:hover {
  background-color: #f9f9f9;
  color: black;
  cursor: pointer;
}
.input-code {
  outline: none;
  text-align: center;
  transition-duration:  0.3s;
  width: 160px;
  line-height: 48px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  color: #ffffff;
  font-family: secret-regular, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
}

.modifier {
  background: #4ff7b2;
  color: #231872;
}

::placeholder {
  color: #ffffff;
}

.input-code:focus {
  border-bottom: 1px solid #ffffff;
}

.menu-title {
  text-transform: uppercase;
  font-size: 64px;
  color: #ffffff;
  font-family: secret-medium, sans-serif;
  margin-bottom: 32px;
}

.footer {
  width: 100%;
  padding-top: 80px;
}

.footer a {
  color: #4ff7b2;
  font-family: secret-medium, sans-serif;
}

.game-title {
  text-transform: uppercase;
  font-size: 48px;
  color: #ffffff;
  font-family: secret-medium, sans-serif;
  margin: 32px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
  background: transparent;
  color: #4ff7b2;
  font-family: secret-medium, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}

.board {
  width: 80%;
  max-width: 600px;
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.board > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.card {
  border: 1px solid white;
  background-color: #020716;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: 250ms linear;
}

.card-active {
  background-color: darkred;
}

.card-guessed {
  background-color: #4ff7b2;
}

.players {
  width: 100%;
}

.players > div {
  width: 40%;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.3s;
  background: transparent;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: secret-regular, sans-serif;
  letter-spacing: 2px;
}

.players > div h2 {
  font-size: 20px;
}

.players > div p {
  font-size: 32px;
  font-weight: 700;
}
