* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.button-normal {
  background-color: #4CAF50;
  padding: 12px 16px;
  color: #f9f9f9;
  font-weight: bold;
  border: 2px solid #4CAF50;
  transition-duration: 0.3s;
}

.button-normal:hover {
  background-color: #f9f9f9;
  color: black;
  cursor: pointer;
}

.input-code {
  outline: none;
  text-align: center;
  padding: 12px 8px;
  border: 3px solid gainsboro;
  transition-duration:  0.3s;
}

.input-code:focus {
  border: 3px solid #2b2e4a;
}

.menu-title {
  text-transform: capitalize;
  padding: 8vh 0;
  font-size: 48px;
}

.menu {
  margin-top: 30px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 8vh 0;
  margin-top: 30px;
}

.game-title {
  padding: 16px;
  text-transform: capitalize;
  font-size: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  background:burlywood;
}

.board {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.board > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.card {
  border: 1px solid white;
  background-color: #2b2e4a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.card-active {
  background-color:orangered;
}

.card-guessed {
  background-color: deepskyblue;
}

.players {
  width: 100%;
}

.players > div {
  width: 50%;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-direction: column;
}

.players > div:last-child {
  float: right;
}
